In [ ]:
! pip3 install mysql-connector-python

In [ ]:
# CREATE USER 'root'@'%' IDENTIFIED BY '**********';
# GRANT ALL PRIVILEGES ON *.* TO 'root'@'%' WITH GRANT OPTION;
# FLUSH privileges;

# ......................................................................................................................................

# Connecting With MySql

In [1]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="**********"
)

mycursor = mydb.cursor()

In [ ]:
mycursor.execute("CREATE DATABASE Stavan_Gandhi")

# Delete Database

In [2]:
mycursor.execute("DROP DATABASE Files")

# Show Database

In [ ]:
mycursor.execute("SHOW DATABASES")

for x in mycursor:
  print(x)

# ......................................................................................................................................

# Connecting with Database

In [1]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="*********",
  database="Stavan_Gandhi"
)

mycursor = mydb.cursor()

# Create Table

In [ ]:
mycursor.execute("CREATE TABLE Software_Developer (id INT AUTO_INCREMENT PRIMARY KEY, firstName VARCHAR(255), lastName VARCHAR(255))")

# Delete Table

In [ ]:
mycursor.execute("DROP TABLE IF EXISTS Software_Developer")

# Show Table

In [ ]:
mycursor.execute("SHOW TABLES")

for x in mycursor:
  print(x)

# Delete any Data from table

In [ ]:
sql = "DELETE FROM customers WHERE address = 'Mountain 21'"

mycursor.execute(sql)

mydb.commit()

print(mycursor.rowcount, "record(s) deleted")

# Single Data insert in Table

In [ ]:
sql = "INSERT INTO Software_Developer (firstName, lastName) VALUES (%s, %s)"
val = ("Stavan", "Ganhdi")

mycursor.execute(sql, val)

mydb.commit()
print(mycursor.rowcount, "record inserted.")

# Multiple Data insert in Table

In [ ]:
sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = [
    ('Peter', 'Lowstreet 4'), ('Amy', 'Apple st 652'), ('Hannah', 'Mountain 21'), ('Michael', 'Valley 345'),
    ('Sandy', 'Ocean blvd 2'), ('Betty', 'Green Grass 1'), ('Richard', 'Sky st 331'), ('Susan', 'One way 98'),
    ('Vicky', 'Yellow Garden 2'), ('Ben', 'Park Lane 38'), ('William', 'Central st 954'),
    ('Chuck', 'Main Road 989'), ('Viola', 'Sideway 1633')
]

mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, "was inserted.")

# Single Data insert in Table with ID

In [ ]:
sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("Stavan", "Highway 21")

mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "record inserted, ID:", mycursor.lastrowid)

# All Data from Tables

In [ ]:
mycursor.execute("SELECT * FROM Software_Developer")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

# Specific Data from Every Row in Database Table

In [ ]:
mycursor.execute("SELECT name, address FROM customers")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

# All Column from Single Row in Database Table

In [ ]:
mycursor.execute("SELECT * FROM customers")

myresult = mycursor.fetchone()

print(myresult)

# Find all Rows that has exactly Requirements specified

In [ ]:
mycursor.execute("SELECT * FROM customers WHERE name = 'Stavan'")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

# Find all Rows that has round Requirements specified

In [ ]:
mycursor.execute("SELECT * FROM customers WHERE name Like '%Stav%'")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

# Sort by Names

In [ ]:
mycursor.execute("SELECT * FROM customers ORDER BY name")  #ascending

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

In [ ]:
mycursor.execute("SELECT * FROM customers ORDER BY name DESC")  #descending

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

# Update Any value in table

In [ ]:
sql = "UPDATE Software_Developer SET firstName = 'Stavan' WHERE firstName = 'Shiv'"

mycursor.execute(sql)

mydb.commit()

print(mycursor.rowcount, "record(s) affected")

# Set Limit For your action

In [ ]:
mycursor.execute("SELECT * FROM customers LIMIT 5")

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

In [ ]:
mycursor.execute("SELECT * FROM customers LIMIT 5 OFFSET 2")

myresult = mycursor.fetchall()

for x in myresult:
    print(x)